@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#pre-loader{
  background: #000 url(img/loader.svg) no-repeat fixed center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100000;
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.loader-img{
  width: 100%;
  transform: translate(0, 10%);
}
.loader-img img{
  margin: auto;
    max-width: 60%;
  max-height: auto;
}



/* common */
h2{
  text-transform: uppercase;
}


/*      Header      */
header{
  /*background: red;*/
   position: -webkit-sticky;
   position: sticky;
  height: 10%;
  width: 100%;
  z-index: 99;
  top: 0;
}
nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 10px;
}
.navscrolled{
  backdrop-filter: blur(5px);
  box-shadow: black 7px 0 10px;
}
.logo{
  width: 60px;
  height: auto;
  margin-left: 10px;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
}
nav ul{
  display: flex;
  list-style: none;
  margin: auto 40px auto 0;
}
nav ul li{
  margin: 0 20px 0 20px;
  color: white;
  font-size: 1.2em;
}
nav ul li a{
  padding: 2px;
  /*border: 2px solid red;*/
  position: relative;
}
nav ul li a::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 70%;
  bottom: 0;
  width: 50%;
  transform: scale(0, 1);
  transform-origin: -100% 100%;
  transition: transform 1s ease;
}
nav ul li a:hover::after,
nav ul li a.active::after
{
  transform: scale(1, 1);
}
nav ul li a:hover{
  /*color: #f7ef8a;*/
}

.pages{
  display: flex;
  justify-content: flex-end;
}
a{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
#getstarted{
  margin-right: 20px;
  padding: 5px 20px 5px 20px;
  border: 2px solid #cfc09f;
  font-size: 1em;
  box-shadow: none;
  background: none;
  border-radius: 5%;
  outline: none;
  color: white;
  letter-spacing: .8px;
  transition: .3s;
}
#getstarted:hover{
  /*border: 2px solid red;*/
  background: #b88a44;
  color: white;
}



/*  Banner   */
#banner{
  position: relative;
  /*border: 2px solid blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/bg1.jpg);
  background-position: center;
  z-index: 1;
  overflow: hidden;
}
#banner::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 1000;
}
/*herolines*/
.line{
  position: absolute;
  /*border: 2px solid red;*/
  height: 200%;
  padding: 20px;
  transform: translate(900px, 20px) rotate(45deg);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
.line-activate{
  position: absolute;
  transform: translate(700px, 0px) rotate(45deg);
}
.line img{
  max-width: 2px;
  height: 100%;
}
.line:nth-child(1){
  right: 40%;
  /*border: 2px solid blue;*/
}
.line:nth-child(2){
  right: 30%;
  /*border: 2px solid orange;*/
}
.line:nth-child(3){
  right: 20%;
  /*border: 2px solid green;*/
}
.hero-container{
  display: flex;
  /*border: 2px solid gold;*/
  width: 100%;
  height: 70%;
  z-index: 3;
}
.hero-text{
  position: relative;
  padding: 2%;
  width: 100%;
  /*border: 2px solid cyan;*/
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6em;
}
.logo-text{
  color: #b88a44;
}
.pre-title{
  padding: 1.5%;
  position: relative;
  text-transform: lowercase;
  font-style: italic;
  font-size: .8em;
}
.pre-title::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 20%;
  bottom: 0;
  width: 30%;
}
.title{
  margin: 4% 0 0 0;
}
.subtitle{
  margin: 4% 0 2% 0;
  text-transform: capitalize;
  font-size: .8em;
}
.hero-image{
  display: flex;
  justify-content: center;
  /*border: 2px solid red;*/
  width: 100%;
}
.hero-image img{
  /*border: 2px solid green;*/
  /*min-width: 100%;*/
  /*min-height: 100%;*/
}
#get-in-touch{
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background: #b88a44;
  border: 2px solid #b88a44;
  color: #fff;
  text-shadow: 1px 1px 9px #fff;
  border-radius: 2px;
  outline: none;
  bottom: 10%;
  font-size: .7em;
}
#get-in-touch:hover{
  border: 2px solid #ffc000;
  background: #ffc000;
  color: white;
}

.hero-social{
  /*border: 2px solid white;*/
}
.hero-social ul{
  padding: 8px;
  border: 2px solid #b88a44;
  list-style: none;
}
.hero-social ul:hover{
  border: 2px solid #fff;
}
.hero-social li{
  margin: 10px 0 10px 0;
}
.hero-social i{
  color: #fff;
  font-size: 2em;
  transition: 1s;
}
.hero-social i:hover{
  color: #b88a44;
  cursor: pointer;
  transform: translate(0, -5px);
}



/******/
#line{
  width: 70px;
  height: 2px;
  border: 2px solid red;
  color: #ffc000;
  padding: 0;
}





/*   Our Services  */
#ourservices{
  position: relative;
}
/*#ourservices::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #000, transparent);
  z-index: 1000;
}*/
.service-container{
  padding: 20px;
  width: 100%;
  height: 50%;
  background: #000;
  color: #fff;
}
.service-head{
  display: flex;
  justify-content: center;
}
.service-head h2{
  position: relative;
   padding: 10px;
}
.service-head h2::before{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: -50%;
  bottom: 50%;
  width: 40%;
}
.service-head h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  right: -50%;
  bottom: 50%;
  width: 40%;
}
.service-cards{
  margin: 10px auto 10px auto;
  width: 70%;
  display: grid;
  grid-template-columns:  repeat(3, minmax(200px, 1fr));
  grid-gap: 15px 15px;
}
#card1{
  transition-delay: .1s;
}
#card2{
  transition-delay: .2s;
}
#card3{
  transition-delay: .3s;
}
#card4{
  transition-delay: .4s;
}
#card5{
  transition-delay: .5s;
}
#card6{
  transition-delay: .6s;
}
.card.card-scroll{
  transform: translate(0, 0);
}
.card{
  margin: auto;
  padding: 7px;
  display: flex;
  /*width: 250px;*/
  min-height: 300px;
  flex-direction: column;
  background: linear-gradient(#001, #000);
  color: #b88a44;
  border-radius: 2px;
  transform: translate(0, 10%);
  transition: 1s ease;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-image{
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.card-image img{
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.card-image i{
  padding: 10px;
  /*border: 2px solid red;*/
}
.card-text{
  position: relative;
  margin: 10px;
}
.card-text h2, .card-text hr, .card-text p{
  text-align: center;
}
.card-text hr{
  margin: 10px;
  border: 1px solid #b88a44;
}
.card-text h2{
  font-size: 1.2em;
}
#learn_more{
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background: transparent;
  border: 2px solid #b88a44;
  color: #b88a44;
  border-radius: 2px;
  outline: none;
  bottom: 10%;

}
#learn_more:hover{
  border: 2px solid #ffc000;
  background: #ffc000;
  color: white;
}




/*home video*/
#home-video{
  position: relative;
  background: #001;
  display: flex;
  justify-content: center;
}
#home-video::before{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #000, transparent);
  z-index: 1000;
}
.home-video .vid{
  margin: 10% 10px 10px 10px;
  width: 97%;
  height: 70%;
  background: black;

}
.home-video video{
  max-width: 100%;
  max-height: 100%;
}


/*    About us   */
.about-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background: #1f011f;
}
.about-text{
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 70%;
  text-align: left;
}
.about-text h2{
  position: relative;
  margin: 10px 0 20px 0;
   padding: 10px;
}
.about-text h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 0;
  bottom: 0;
  width: 7%;
}
.about-text p{
  margin: 10px 0 10px 0;
}
.about-para{
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .1em;
  line-height: 1.3em;
}
.about-video{
  margin: 10px;
  width: 50%;
  height: 70%;
  background: black;
}
.about-video video{
  width: 100%;
  height: 100%;
}
.statement{
  color: #b88a44;
}







/*    Clients    */
.client-container{
  padding: 10px;
  display: flex;
  align-items: center;
  background: #000;
  flex-direction: column;
}
.client-container h2{
  position: relative;
  padding: 10px;
  color: white;
}
.client-container h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  right: 0;
  bottom: 0;
  width: 40%;
}
.client-card{
  margin: 10px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))  ;
  grid-gap: 15px 15px;
}
.ccard{
  position: relative;
  background: #001;
  border-radius: 2px;
}
.ccard::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  right: 0;
  bottom: 0;
  width: 40%;
  background: red;
  border-radius: 2px;
}
.ccard-img{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.client-card .ccard-img img{
  max-height: 50%;
  max-width: 50%;
}


/*   Get in touch   */
#getintouch{
  display: flex;
  justify-content: center;
  height: 50vh;
  background: #42032C;
}
.getintouch-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b88a44;
  text-align: center;
}
#getintouch-text{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 5px;

}
#getintouch-button{
  margin: 20px;
  padding: 5px;
  border: 2px solid #001;
  font-size: 1em;
  box-shadow: none;
  background: #b88a44;
  border-radius: 5%;
  outline: none;
  color: #001;
  transition: .5s;
}
#getintouch-button:hover{
  border: 2px solid #b88a44;
  color: #fff;
  background: #ffc000;
}




/*   Footer    */
footer{
  position: relative;
  padding: 20px;
  /*background: linear-gradient(to bottom, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);*/
  background: linear-gradient(to bottom, #001, #100E09);
  color: white;
}
footer .footer-container{
   position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  /*background: linear-gradient(to bottom, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);*/
}
footer h1{
  position: relative;
  padding: 0;
  text-align: center;
}
footer h1::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  right: 25%;
  bottom: 0;
  width: 20%;
}
footer ul{
  list-style: none;
}
footer ul li{
  margin: 10px;
}

footer hr{
  border: 1px solid #b88a44;
  margin: 20px;
}
footer .footer-copyright{
  margin: 0 0 0 20px;
  font-size: .8rem;
  opacity: .5;
}




















/*!!!!!!!!!!!!!!!!!!!!!SERVICES PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#ourservicespage{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  background: #000;
  align-items: center;
}
#servicespage-banner{
  position: relative;
  /*border: 2px solid blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/servicespage-banner-bg.jpg);
  background-position: center;
  z-index: 1;
  overflow: hidden;
}
#servicespage-banner::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 1000;
}
.servicespage-hero-container{
  display: flex;
  /*border: 2px solid gold;*/
  width: 100%;
  height: 70%;
  z-index: 3;
  justify-content: center;
}
.servicespage-hero-text{
  position: relative;
  padding: 2%;
  width: 100%;
  /*border: 2px solid cyan;*/
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
}
.logo-text{
  color: #b88a44;
}
.pre-title{
  padding: 1.5%;
  position: relative;
  text-transform: lowercase;
  font-style: italic;
  font-size: .8em;
}
.pre-title::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 20%;
  bottom: 0;
  width: 30%;
}
.title{
  margin: 4% 0 0 0;
}
.subtitle{
  margin: 4% 0 2% 0;
  text-transform: capitalize;
  font-size: .8em;
}
.hero-image{
  display: flex;
  justify-content: center;
  /*border: 2px solid red;*/
  width: 100%;
}
.hero-image img{
  /*border: 2px solid green;*/
  /*min-width: 100%;*/
  /*min-height: 100%;*/
}



.servicepage-container{
  display: flex;
  margin: 7% 0 0 0;
  border: 2px solid cyan;
  position: relative;
  padding: 20px;
  color: #fff;
}
.servicepage-info{
  border: 2px solid cyan;
}
.servicepage-header{
  margin: auto 0 2% 0;
  display: flex;
  justify-content: center;
}
.servicepage-container .servicepage-header h2{
  position: relative;
  text-align: center;
  padding: 7px;
}
.servicepage-container .servicepage-header h2::before{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: -50%;
  bottom: 50%;
  width: 40%;
}
.servicepage-container .servicepage-header h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  right: -50%;
  bottom: 50%;
  width: 40%;
}
.servicepage-cards{
  /*padding: 10% ;*/
  border: 2px solid red;
  margin: 0 auto 10px auto;
  width: 70%;
  display: grid;
  grid-template-columns:  repeat(2, minmax(50px, 1fr));
  grid-gap: 17px 17px;
}
.servicepage-card{
  margin: auto;
  padding: 7px;
  display: flex;
  width: 290px;
  min-height: 300px;
  flex-direction: column;
  background: #001;
  color: #b88a44;
  border-radius: 2px;
  transform: translate(0, 10%);
  transition: 1s ease;
}



















/*!!!!!!!!!!!!!!!!!!!!!ABOUT PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#aboutpage{
  border: 2px solid red;
  background: #001;
  color: #fff;
}
.aboutpage-container{
  position: relative;
  padding: 20px;
  margin: 7% 0 0 0;
  /*border: 2px solid cyan;*/
}
.aboutpage-container h2{
  position: relative;
  padding: 7px;
}
.aboutpage-container h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 0;
  bottom: 0;
  width: 7%;
}
.aboutpage-container p, .aboutpage-container h3, .aboutpage-container h2{
  padding: 10px 0 10px 0;
}



























































/*!!!!!!!!!!!!!!!!!!!!!CONTACT PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#contactpage{ 
  position: relative;
  padding: 20px;
  background: #001;
  background: url(img/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 2px solid red;
}
.contactpage-container{
  border: 2px solid cyan;
  position: relative;
  display: flex;
  margin: 10% 0 0 0;
  color: #fff;
  justify-content: center;
}

/*iconBox*/
.contactpage-info{
  /*border-right: 2px solid #b88a44;*/
  margin: 0 0 0 7%;
  width: 50%;
  padding: 10px;
  /*justify-content: flex-end;*/
}
.iconBox{
display: flex;
padding: 10px;
}
.icon{
  background: #b88a44;
  min-width: 60px;
  min-height: 60px;
  padding: 2px;
  font-size: 1.3rem;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.icon-text{
  display: flex;
  margin: 0 0 0 20px;
  font-size: 1rem;
  color: #fff;
  flex-direction: column;
}
.icon-text p{
  margin: 5px 0 0 0;
}


/*form*/
.contactpage-form{
  width: 60%;
  margin: 0 7% 0 0;
  padding: 15px;
  /*border: 2px solid red;*/
  /*background: rgb(32,33,36);*/
  background: #1d1d1d;
  border-radius: .6%;
  box-shadow: 2px 2px 10px #001;
}
.contactpage-container .contactpage-header h2{
  position: relative;
  text-align: left;
  padding: 7px;
}
.contactpage-container .contactpage-header h2::after{
  content: '';
  position: absolute;
  border: 1px solid #b88a44;
  left: 0;
  bottom: 0;
  width: 7%;
}
.contactpage-container label{
  margin: 2px 0 5px 0;
}
.contactpage-container h2, .contactpage-container input, .contactpage-container textarea, .contactpage-container button{
  margin: 0 0 10px 0;
}
.contactpage-container input, .contactpage-container textarea{
  width: 100%;
  padding: 5px;
  border: 1px solid #b88a44;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background: transparent;
  font-size: 1em;
  border-radius: 2px;
  resize: none;
}
::placeholder{
  color: #b88a44;

}
#submit{
  padding: 5px;
  border: 2px solid #b88a44;
  font-size: 1em;
  box-shadow: none;
  background: #b88a44;
  border-radius: 5%;
  outline: none;
  color: #001;
  transition: color .5s, border .5s, background .5s;
}
#submit:hover{
  border: 2px solid #b88a44;
  color: #fff;
  background: #ffc000;
}

